#artistList {

    list-style-type: none;
}

#artistContainer {
    position: relative;
    top: 65px;
    padding-bottom: 65px;
    margin-left: 4px;
}

#footer {
    top: 65px;
}

.artist-card {
    margin-left: 8px;
    margin-right: 8px;

}

.artist-card-image {
    width: auto;
    height: 315px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.artist-card-title {

}